# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AEON_TestGame.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Neagz\Project\AEON_TestGame\.idea\.idea.AEON_TestGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
